<div class="container-flex py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-sm-6 col-md-5">
      <div class="card bg-dark text-white w-100 mx-auto" style="border-radius: 1rem;">
        <div class="card-body p-5 text-center">
          <div class="mb-md-5 mt-md-4 pb-5">
            <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
            <p class="text-white-50 mb-5">Please enter your login and password!</p>
            <form action="/auth/login" method="POST">
              <div class="form-group">
                <div class="d-flex flex-column align-items-start">
                  <input type="email" id="typeEmailX" class="form-control form-control-lg" name="email" />
                  <label for="typeEmailX" class="text-white mb-1">Email</label>
                </div>
              </div>
              <br>
              <div class="form-group">
                <div class="d-flex flex-column align-items-start">
                  <input type="password" id="typePasswordX" name="password" class="form-control form-control-lg" />
                  <label for="typePasswordX" class="text-white mb-1">Password</label>
                </div>
              </div>

              <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p>

              <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
            </form>
          </div>
          <div>
            <p class="mb-0">Don't have an account? <a href="signup" class="fw-bold">Sign Up</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
