<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retro Gaming App</title>
    <style>
body {
    font-family: Arial, sans-serif;
    margin: 0; /* Remove default margin */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure body takes at least the full viewport height */
}

h1 {
    text-align: center;
    margin: 20px 0;
}

ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

li {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: space-between;
    border-radius: 10px;
    border: 1px solid #ccc;
    height: 200px;
}

.platform-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #333;
    height: 100%;
    justify-content: center; 
}

.platform-logo {
    max-width: 100%;
    max-height: 150px; /* Adjust this value based on your preference */
    height: auto;
    margin-top: auto; /* Add space between the image and text */
}

.platform-name {
    margin-top: auto; /* Align text to the bottom */
    font-weight: bold;
}
    </style>
</head>
<body>
    <h1>Welcome to the Retro Gaming App</h1>
    <ul>
        <% platforms.sort((a, b) => {
            if (!a.name && !b.name) return 0;
            if (!a.name) return 1;
            if (!b.name) return -1;
            return a.name.localeCompare(b.name);
        });
    
        let logoUrl;
    
        for (const platform of platforms) {
            if ((platform.category === 1 || platform.category === 5) && platform.platform_logo) {
                if (platform.platform_logo) {
                    logoUrl = platformLogos.find(logo => logo.id === platform.platform_logo)?.url.replace('jpg', 'png');
                    if (logoUrl){
                        logoUrl = logoUrl.replace('t_thumb', 't_720p');
                    }
            console.log(logoUrl)    
        } else {
            logoUrl = '';
        }

        %>
            <li>
                <a href="/platforms/<%= platform.id %>/games" class="platform-link">
                <img class="platform-logo"src="http:<%= logoUrl %>" alt="No logo availiable"></br>
                <span class="platform-name"><%= platform.name %></span></a>
            </li>
        <% }} %>
    </ul>
</body>