<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('styles') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RetroGrade - Your Retro Gaming Hub</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap">
    
    
    <script>
      async function addToCollection(userId, gameId, platformId) {
          try {
            console.log(JSON.stringify({ userId, gameId, platformId }))
            
            const response = await fetch('games/add-to-collection', {
              method: 'POST',
              headers: {'Content-Type': 'application/json'},
              body: JSON.stringify({ userId, gameId, platformId })
          })
      
          if (!response.ok) {
            throw new Error('Network response was not ok');
            }
          
            const data = await response.json();
            console.log(data);
          } catch(error) {
              console.error('There was a problem with the fetch operation:', error);
          };
          window.location.href = `platforms/${platformId}/games`;

        }


    </script>
  
  </head>
  <body style="padding-top: 60px;">
    <%- include('partials/_navbar') %>
  



    
    <%- body %> 

    <%- include('scripts') %>
  </body>
</html>
