<div class="container-fluid " style="min-height: 80vh; max-width: 90vw;background-color:#1a1a2e; border-radius: 10px;">
  <div class="row row-cols-2 row-cols-md-3 row-cols-xl-6" data-masonry="{&quot;percentPosition&quot;: true }" style="position: relative;">
    <% sortedPlatforms.forEach((platform, index)=> { %>
      <div class="col mb-1">
        <div class=" p-1 h-100">
          <section class="text-white p-1" style="min-height: 60px;">
            <% let logoUrl; 
            if ((platform.category===1 || platform.category===5) && platform.platformLogo) { 
              if (platform.platformLogo) { 
                logoUrl=platformLogos.find(logo=> logo.id ===
                platform.platformLogo)?.url.replace('jpg', 'png');
                  if (logoUrl) {
                    logoUrl = logoUrl.replace('t_thumb', 't_720p');
                  }
                } else {
                  logoUrl = '';
                }
            } else {
              logoUrl = '';
            }
            %>
              <div class="d-flex align-items-center">
                
                <% if (logoUrl) { %>
                  <img src="http:<%= logoUrl %>" alt="<%= platform.name %> Logo" class="img-fluid platform-logo"
                    style="max-width: 75px; max-height: 50px;">
                <% } %>
                <a href="/platforms/<%= platform.id %>">
                <h6 class="card-title ms-2 text-center">
                  <%= platform.name %>
                </h6>
              </a>
              </div>
          </section>
        </div>
      </div>
    <% }) %>
  </div>
</div>
