<div class="container-fluid " style="min-height: 80vh; max-width: 90vw;background-color:#1a1a2e; border-radius: 10px;">
  <div class="row row-cols-sm-1 row-cols-md-3 row-cols-xl-6" data-masonry="{&quot;percentPosition&quot;: true }" style="position: relative;">
    <%- platformHTML %>
  </div>
</div>